.footer {
    min-height: 165px;
    background: #222222 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer svg path,.footer svg rect{
    fill: #EF233C;
    stroke-width:0;
}